.el-autocomplete-suggestion__wrap, ul.el-pager li {
  box-sizing: content-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.el-pagination button, .el-pagination span {
  height: 30px\9;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}
